<div class="row">

    <div class="col-md-12">
        <div class="col-md-12">
            <h2><%=title%></h2>
        </div>
        
        <p>Create a user by filling out the fields below</p>
        
        <%-include('_form') %>
    </div>

</div>
