<div class="row">

    <div class="col-md-12">
         <div class="col-md-12">
            <h2><%=title%></h2>
        </div>
        
        <h4>Welcome <%-user.first_name%> <%-user.last_name%></h4>
        <p>Choose an option below to continue.</p>
        
        <ol>
            <li><a href="/admin/list-users">Manage Users</a></li>
        </ol>
        
    </div>

</div>

