 <!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>User System - MongoDB</h1>

    <p>
        A simple user system and admin for starting projects.  Click on a link below to get started.
    </p>
    
    <p>
        <a href="https://github.com/treaudde/usersystem-node-express-mongo" target="_blank">View on Github</a>
    </p>
    
    <p>
        <a class="btn btn-lg btn-primary" href="/users/register" role="button">Register</a>
        <a class="btn btn-lg btn-primary" href="/users/login" role="button">Login</a>
    </p>
</div>
