<html>
    <head></head>
    <body>
        <h1>Reset Password</h1>
        
        <p>
            <a href="<%-resetPasswordLink%>">Click here to reset your password</a>
        </p>
        
        <p>
            If the link above doesnt work, cut and paste the following link into your browser:<br />
            <%-resetPasswordLink%>
        </p>
        
        <p>
            If you did not initiate this password reset.  Please discard this email.
            Your password was not changed.
        </p>
        
    </body>

</html>