<div class="row">

    <div class="col-md-6 col-md-offset-3">
        <div class="col-md-12">
            <h2><%=title%></h2>
        </div>
        
        <p>Reset your password using the form below</p>

        <form name="reset-password-form" id="reset-password-form"
              method="post" action="/users/reset-password?_method=PUT">
            <div class="form-group">
                <label for="password">Enter new Password:</label>
                <input class="form-control" type="password" name="password" 
                       id="password" placeholder="Enter password"  
                      />
            </div>
            
            <div class="form-group">
                <label for="password">Confirm new Password:</label>
                <input class="form-control" type="password" name="confirm_password" 
                       id="confirm_password" placeholder="Confirm password"  
                      />
            </div>
            
            <input type="hidden" name="v" value="<%-v%>" />
            
            <button type="submit" class="btn btn-default">Reset Password</button>
        </form>
        
    </div>

</div>